<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Grability - Test{% endblock %}</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="German Nemes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">

        <!-- CSS -->
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="{{ breadcum.step1 }}">
                            <a href="#">Test cases</a>
                        </li>
                        <li class="{{ breadcum.step2 }}">
                            <a href="#">Matrix Size</a>
                        </li>
                        <li class="{{ breadcum.step3 }}">
                            <a href="#">Operations Quantity</a>
                        </li>
                        <li class="{{ breadcum.step4 }}">
                            <a href="#">Operations</a>
                        </li>
                        <li class="{{ breadcum.step4 }}">
                            <a href="#">Output</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            {% block content %}{% endblock %}
        </div>
        
        {% block javascripts %}
        <!-- jQuery 1.12.1 -->
        <script src="{{ asset('js/jquery-1.12.1.min.js') }}"></script>
        
        <!-- Bootstrap 3.3.* -->
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        
        <!-- JS classes -->
        <script src="{{ asset('js/matrix.js') }}"></script>
        {% endblock %}
    </body>
</html>