{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Step 3 - Operations quantity per matrix</h3>
            </div>
            <div class="panel-body">
                <div class="control-group">
                    <div class="controls" id="matrix-container">
                        <label for="matrix-size-operations" id="matrix-size-label">Operations for matrix (N, N, N): </label>
                        <select id="matrix-size-operations" name="matrix-size-operations">
                        {% for i in 1..1000 %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="form-actions">
                    <div>
                        <button type="button" 
                                id="matrix-add" 
                                class="btn btn-primary btn-lg btn-block">
                            <!-- Label will be put here with JS --> 
                        </button>
                    </div>
                </div>                        
            </div>
        </div>
    </div>
                            
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Matrix and operations</h3>
            </div>

            <div class="panel-body">
                
                <ul class="list-group" id="matrix-list">
                </ul>
                
            </div>
            
            <div class="panel-footer">
                <div>
                    <button type="button" id="next-step" class="btn btn-primary btn-lg btn-block">Next step</button>
                </div>
            </div>
        </div>
    </div>                        
</div>
                            
<form action="{{ path('step4') }}" method="post" id="form-step">
</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">
        $(function() {
            var tc = new TestCases();
            tc.init("{{testCases | raw}}");
            
            initStep3(tc);
        });
        
        
        
    //var matrixSizes = jQuery.parseJSON('{{matrixSizes | raw}}');
    var currentSize = popElementFromMatrixSizes();
    var matrixOperations = new Array();
    
    function popElementFromMatrixSizes()
    {
        return matrixSizes.pop();
    }
    
    $( "#matrix-add" ).on( "click", function( event ) {
        // Get Matrix size operations value
        var matrixSizeOperations = $("#matrix-size-operations").val();
        
        addMatrix(matrixSizeOperations);
        
        updateMatrixCurrentSize();
        
        // Get test cases left
        var testCasesLeft = $("#test-cases-left").html();
        
        var testCasesRemain = testCasesLeft - 1;
        
        // Change test cases remaining or hide add button
        if (testCasesRemain == 0) {
            $('#matrix-add').hide();
            $("#next-step").show();
        } else {
            $("#test-cases-left").html(testCasesRemain);
        }
    });
    
    $( "#next-step" ).on( "click", function( event ) {
        submitMatrix();
    });
    
    function updateMatrixCurrentSize()
    {
        currentSize = popElementFromMatrixSizes();
        changeMatrixLabel(currentSize);
    }
    
    function addMatrix(operations)
    {
        $("#matrix-list").append("<li class='list-group-item' size='"+currentSize+"' operations='"+operations+"'>Matrix (1,1,1)...("+currentSize+","+currentSize+","+currentSize+") => "+operations+" operations</li>");
    }
    
    function submitMatrix()
    {
        $( "#matrix-list li" ).each(function( index ) {
            var op = new Array();
            op['size'] = $( this ).attr("size");
            op['operations'] = $( this ).attr("operations");
            
            matrixOperations.push(op);
        });
        
        $("#form-step3").append("<input type='hidden' name='matrixSizesOperations' value='"+JSON.stringify(matrixOperations)+"'/>");
        
        //$("#form-step3").submit();
    }
    </script>
    
    <script src="{{ asset('js/step3.js') }}"></script>
{% endblock %}